VITE_SUPABASE_URL=https://oknpgpencszibnmndyzm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rbnBncGVuY3N6aWJubW5keXptIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM5MzE2NzEsImV4cCI6MjA3OTUwNzY3MX0.4Eyxg6kNGcoOBgrfGIiGH7uj9YXkuMI4ORSQPJLHjSo
# Opcional: solo para backend/CLI, no se usa en frontend
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9rbnBncGVuY3N6aWJubW5keXptIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzkzMTY3MSwiZXhwIjoyMDc5NTA3NjcxfQ.v8ceHKqiBFs5NxnJXXRGNDGXR_xyThELWywz4QQJon4
SUPABASE_PUBLISHABLE_KEY=sb_publishable_vJ5lqKquVDQ3zJ6kGEomYw_PuJpTp1a
